* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scroll-behavior: smooth;
}

/** HEADER  */

.header {
  background-color: #00ffd1;
  box-sizing: border-box;
  border: #00ffd1 3px solid;
}

/* NAVBAR */

.navbar {
  margin: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 7rem;
}

.nav-ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
}

.items-counter > a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.nav-ul li a {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: #333;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
}

.items-counter > a:hover {
  text-decoration: underline;
}

.nav-ul li a:hover {
  color: #ff3434;
  border-bottom: 1px solid #ff3434;
}

.title {
  font-size: 38px;
  color: #333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 24px;
  text-align: center;
}

/** CARDS  */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  background-image: url('./assets/images/pokemon-field.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  flex-direction: column;
  background: #8a8a8a;
  margin: 1rem;
  border: 10px solid #00ffd1;
  border-radius: 10px;
  align-items: center;
}

.img-container {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  border: 5px solid #fff;
  border-radius: 20%;
  cursor: pointer;
  transition: background 0.4s;
}

.img-container:hover {
  background: #00ffd1;
}

.img-container > img {
  border-radius: 20%;
  height: 7rem;
  transition: transform 0.4s;
}

.like-btn > img {
  height: 2rem;
}

.img-container > img:hover {
  transform: scale(1.1);
}

/* LIKES */

.likes {
  display: flex;
  align-self: flex-start;
  margin: 0 0 0 1rem;
  flex-direction: column;
  align-items: center;
  border: 2px solid #444;
  background: #00ffd1;
  border-radius: 10px;
}

.like-btn {
  border: none;
  background: none;
  outline: none;
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer;
}

.like-btn:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 7px crimson);
}

.likes-number {
  margin: 0.3rem 0;
}

/* POKE NAME */

.poke-name {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

/* BUTTONS */

.buttons-container {
  display: flex;
}

.btn {
  margin: 1rem 0.3rem;
  padding: 0.4rem;
  border: none;
  outline: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 15px;
  transition: background 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
}

.reserve-btn {
  background: #ff1e1e;
  color: #fff;
}

.reserve-btn:hover {
  background: #ad0404;
  color: #fff;
  transform: scale(1.1);
}

.comment-btn:hover {
  background: #444;
  color: #fff;
  transform: scale(1.1);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-avatar,
.title-comment {
  font-size: 34px;
  color: #444;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 15px;
  margin-left: -20px;
  margin-top: 1rem;
  text-transform: capitalize;
  background: #ececec;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.weight,
.height,
.power {
  font-weight: bold;
}

.photo {
  display: flex;
  justify-content: center;
  background-color: #ff1e1e;
  width: 98%;
  border-radius: 10px;
  height: 300px;
  flex-direction: row-reverse;
  position: relative;
  align-items: center;
}

.avatar {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #ff1e1e;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ad0404;
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
  margin: 1rem 0;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-weight: 300;
  color: #eee;
}

.comment-container > p {
  padding: 0.4rem 0;
}

.comment-name {
  border-bottom: 2px solid #00ffd1;
}

.comment-content {
  font-weight: bold;
}

.popup-container {
  background: rgba(124, 122, 122, 0.38);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(124, 122, 122, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 2;
  display: none;
}

.pikachu {
  margin: 0 auto;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  overflow: auto;
  padding: 1rem;
  animation: flipCard 0.6s forwards ease-in-out;
}

.close-btn {
  height: 10%;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

input,
textarea {
  border: none;
  border-radius: 8px;
  padding: 0.4rem;
  width: 100%;
  font-size: 20px;
  margin: 1rem 0;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
  max-height: 10rem;
}

.comment-popup-btn {
  border: 2px solid #ff0;
  background-color: #333;
  color: #ff0;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
  transition: color 0.3s, background 0.3s;
}

.comment-popup-btn:hover {
  color: #333;
  background: #ff0;
}

.messages {
  position: absolute;
  bottom: 31px;
  display: flex;
  justify-content: center;
  width: 38%;
}

.msg {
  padding: 2rem;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  margin: 1rem 0;
}

.success-msg {
  background: #15ff00;
  color: #000;
  font-weight: bold;
  animation: showMessage forwards 3s ease-in-out;
}

.error-msg {
  background: #ff2323;
  color: #fff;
  font-weight: bold;
  animation: showMessage 3s forwards ease-in-out;
}

.visible {
  display: none;
}

/** FOOTER  */

.footer {
  background-color: #00ffd1;
  color: #333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 1rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
}

.footer-content {
  text-align: center;
  justify-self: center;
  margin: 0 auto;
}

.items-counter {
  position: absolute;
  float: left;
  font-size: 14px;
  color: #ff1e1e;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes flipCard {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }

  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes showMessage {
  from,
  to {
    transform: translateY(150%);
    opacity: 0;
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(0);
    opacity: 1;
  }
}

@media screen and (max-width: 937px) {
  /** FOOTER */
  .footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .items-counter {
    position: static;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  /** CARDS CONTAINER */
  .cards-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  /** FORM COMMENTS */
  form {
    width: 90%;
  }

  input,
  textarea {
    border: none;
    border-radius: 8px;
    padding: 0.4rem;
    width: 100%;
    font-size: 20px;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 560px) {
  /** CARDS CONTAINER */
  .cards-container {
    display: flex;
    flex-direction: column;
  }
}
